<p id="Score">&nbsp;</p>
<div class="container mt-5">
  <h1 class="h2" id="Score">Score</h1>
  <div class="container mt-3">
    <div class="mb-3">
      <div class="row p-3">
        <div class="col-md-12">
          <div class="container">
            <div class="text-center">
              <span class="display-1"><strong>10</strong></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p id="Trophy">&nbsp;</p>
<div class="container mt-5">
  <h1 class="h2" id="Trophy2">Trophy</h1>
  <div class="mb-3">
    <div class="row p-3">
      <div class="text-center">
        <table class="table table-hover" style="line-height: 1">
          <tbody>
          <tr>
            <td><i class="fa-solid fa-trophy fa-5x text-success"></i></td>
            <td><i class="fa-solid fa-trophy fa-5x text-info"></i></td>
            <td><i class="fa-solid fa-trophy fa-5x text-danger"></i></td>
            <td><i class="fa-solid fa-trophy fa-5x text-warning"></i></td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-trophy fa-5x text-primary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
            <td><i class="fa-solid fa-lock fa-5x text-secondary"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div
  </div>
</div>

<p id="Ranking">&nbsp;</p>
<div class="container mt-5">
  <h1 class="h2">Ranking</h1>
  <div class="container mt-3">
    <h2 class="h4" >Score Ranking</h2>
    <div class="row p-3 fs-6">みちるさんは、30人中18位です。</div>
    <div class="container mt-3">
      <div class="mb-3">
        <div class="row p-3">
          <div class="col-md-12">
            <table class="table fs-6 fw-normal table-hover">
              <thead>
              <tr>
                <th scope="col" class="text-nowrap fs-4">#</th>
                <th scope="col" class="text-nowrap fs-4">ニックネーム</th>
                <th scope="col" class="text-nowrap fs-4 text-end">スコア</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row" class="fs-4">1</th>
                <td>abcde</td>
                <td class="fs-4 text-end">345</td>
              </tr>
              <tr>
                <th scope="row" class="fs-4">2</th>
                <td>fghijk</td>
                <td class="fs-4 text-end">246</td>
              </tr>
              <tr>
                <th scope="row" class="fs-4">3</th>
                <td>imnop</td>
                <td class="fs-4 text-end">234</td>
              </tr>
              <tr>
                <th scope="row" class="fs-4">4</th>
                <td>qrsruv</td>
                <td class="fs-4 text-end">123</td>
              </tr>
              </tbody>
            </table>
            <p class="float-end fs-6">ランキングは毎朝 8:00 に更新されます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
<p id="Play History">&nbsp;</p>
<h1 class="h2" id="Play History">Play History </h1>
<div class="container mt-3">
  <div class="mb-3">
    <div class="row p-3">
      <div class="col-md-12">
        <table class="table fs-6 fw-normal table-hover">
          <thead>
          <tr>
            <th scope="col" class="text-nowrap fs-4">#</th>
            <th scope="col" class="text-nowrap fs-4">ストーリー</th>
            <th scope="col" class="text-nowrap fs-4 text-end">スコア</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row" class="fs-4">1</th>
            <td>USB無くした！</td>
            <td class="fs-4 text-end">30</td>
          </tr>
          <tr>
            <th scope="row" class="fs-4">2</th>
            <td>ウィルスに感染した！</td>
            <td class="fs-4 text-end">42</td>
          </tr>
          <tr>
            <th scope="row" class="fs-4">3</th>
            <td>フィッシングサイトに引っかかった！</td>
            <td class="fs-4 text-end">21</td>
          </tr>
          <tr>
            <th scope="row" class="fs-4">4</th>
            <td>メールを誤った宛先に送信してしまった！</td>
            <td class="fs-4 text-end">11</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
